//colors
$primary-color-yellow: #ffd700;
$primary-color-black: #1E1E1E;
$primary-color-grey: #282828;
$secondary-color-mercury: #E1E1E1; 
$secondary-color-white: #FAFAFA; 

//typeface
$font-family: "Inter", sans-serif;
